@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind custom CSS file or in your global styles */
.scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit browsers */
  }
  
  .scrollbar-hidden {
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
  }
  